@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal slider thumb style to reflect reference look */
.oa-range {
  -webkit-appearance: none;
  height: 12px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}
.oa-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 9999px;
  background: #b7791f; /* amber-700 */
  cursor: pointer;
}
.oa-range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 9999px;
  background: #b7791f;
  cursor: pointer;
}

